body {
    font-size: 20px;
}

td,
th {
    padding: 10px;
    padding-right: 15px;
}

#zoomIn,
#zoomOut,
#largeZoomIn,
#largeZoomOut {
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

#largeZoomIn,
#largeZoomOut {
    width: 35px;
}

#canvas {
    border: 1px solid black;
}

#settingsDiv,
#canvasDiv,
#entityDiv {
    padding: 20px;
}

#viewCanvas,
#viewSetting,
#viewEntities {
    padding: 10px;
    font-size: 22px;
}

#entityViewer {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 15px;
}

#entityUpdate,
#entityDeleteCancel {
    /* Green-Yellow */
    background-color: #adff2f;
}

#entityDelete,
#entityConfirmDelete {
    /* Orange-Red */
    background-color: #ff4500;
}

.entityControlButton {
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    /* Bluish-Black */
    border: 2px solid #102030;
    transition-duration: 0.5s;
}

.entityControlButton:hover {
    /* Bisque */
    background-color: #ffe4c4 !important;
}